@model WebApp.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <partial name="Post/_Body" model="@Model"/>
            <partial name="Post/_Comment" model="@Model" />
        </div>
    </div>
    <div class="mt-3 text-center">
        <a href="@Url.Action("Edit", new { id = Model.Post.Id })" class="btn btn-primary">Edit</a>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
    </div>
</div>
